* {
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
background: #f2f2f2;
}


nav {
background: #111;
color: #fff;
display: flex;
justify-content: space-between;
padding: 15px 40px;
align-items: center;
}


nav ul {
list-style: none;
display: flex;
gap: 20px;
}


nav a {
color: #fff;
text-decoration: none;
}


.home {
text-align: center;
padding: 100px 20px;
background: linear-gradient(to right, #1f4037, #99f2c8);
color: white;
}


.home button {
padding: 10px 20px;
border: none;
background: #000;
color: #fff;
cursor: pointer;
margin-top: 20px;
}


section {
padding: 60px 40px;
background: #fff;
margin: 20px;
border-radius: 10px;
}


.skills-container span {
background: #222;
color: #fff;
padding: 8px 15px;
border-radius: 20px;
margin: 5px;
display: inline-block;
}


.project-card {
background: #eee;
padding: 20px;
border-radius: 10px;
}


.profile-pic {
width: 150px;
height: 150px;
max-width: 150px;
max-height: 150px;
width: 150px;
height: 150px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 20px;
border: 4px solid white;
}


footer {
text-align: center;
padding: 20px;
background: #111;
color: white;
}